.black_overlay {
	position:fixed;
    float:left;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #c8c8c8;
	z-index: 9998;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=78);
}

.pop_win {
	position:fixed;
    float:left;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 10px;
	border: 2px solid rebeccapurple;
	background-color: white;
	z-index: 9999;
	overflow: auto;
}